<footer class="footer bg-dark ">
 
  <div class=" bg-darker py-3">
    <div class="container">
      <div class="fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a
          class="text-light" href="#" target="_blank" rel="noopener">Jakhongir</a></div>
    </div>
  </div>
</footer>

<div class="handheld-toolbar"></div>
<!-- Back To Top Button-->
<a class="btn-scroll-top" href="javascript:void(0);" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon ci-arrow-up"></i>
</a>